* {

    margin: 0;
    padding: 0;

}

body {
    background: #000000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiltcard {
    width: 400px;
    height: 550px;
    background: #7a7a7a;
    margin: 0 20px;
    border-radius: 10px;
    border: 1px solid #7a7a7a;
}